
<button class="back" (click)="atras()">Atras</button>

<div class="all">


<div class="register-container">
    <div class="register-form">
      <img src="../../logo.png" alt="Logo" class="logo" />
      <h2>Empiece a leer, registrándose</h2>
      <h3>Registrar cuenta</h3>
      <form class = "allForm" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm" novalidate>
        <input type="file" id="portrait" name="portrait" (change)="onFileSelected($event)" required>

        <div class="left">
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" ngModel placeholder="John Doe" required />
          <div *ngIf="registerForm.submitted" class="error">
            Nombre es obligatorio.
          </div>
  
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" ngModel placeholder="john@mail.com" required email />
          <div *ngIf="registerForm.submitted" class="error">
            Ingrese un e-mail válido.
          </div>
  
          <label for="password">Password</label>
          <input type="password" id="password" name="password" ngModel placeholder="********" required minlength="6" />
          <div *ngIf="registerForm.submitted" class="error">
            La contraseña debe tener al menos 6 caracteres.
          </div>
  
          <label for="phone">Número de celular</label>
          <input type="text" id="phone" name="phone" ngModel placeholder="989 876 758" required pattern="^[0-9]+$" />
          <div *ngIf="registerForm.submitted" class="error">
            Número de celular válido requerido.
          </div>
        </div>
        <div class="right">
          <label for="address">Ingrese su dirección</label>
          <textarea id="address" name="address" ngModel placeholder="Arequipa" required></textarea>
          <div *ngIf="registerForm.submitted" class="error">
            Dirección es obligatoria.
          </div>
        </div>
  
        <div class="buttons">
          <button type="submit" class="register-btn">Registrar</button>
          <button type="button" class="login-btn">Ya tengo una cuenta</button>
        </div>
      </form>
    </div>
  </div>
  
</div>