<div class="register-container">
    <div class="register-form">
      <img src="../../logo.png" alt="Logo" class="logo" />
      <h2>Empiece a leer, registrandose</h2>
      <h3>Registrar cuenta</h3>
      <form class = "allForm">
        <div class="left">
            <label for="name">Nombre</label>
            <input type="text" id="name" placeholder="John Doe" />
            
            <!--Comprobar con el ts!-->
            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="john@mail.com" />
            
            <!--Comprobar con el ts!-->
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="********" />
            
            <label for="phone">Numero de celular</label>
            <input type="text" id="phone" placeholder="123123123123123" />
        </div>
        <div class="right">


            <label for="country">Pais</label>
            <select name="country" id="countries">
                <option value="default">Ingrese un pais</option>
                
            </select>
            
            <label for="city">Ciudad</label>
            <select name="city" id="cities">
                <option value="default">Ingrese una ciudad</option>
            </select>
            
            <label for="state">Estado</label>
            <select name="state" id="states">
                <option value="default">Ingrese un estado</option>
            </select>

            <label for="address">Ingrese su direccion</label>
            <textarea id="address" placeholder="Arequipa"></textarea>
        </div>

        <div class="buttons">
            <button type="submit" class="register-btn">Registrar</button>
            <button type="button" class="login-btn">Ya tengo una cuenta</button>
        </div>
      </form>

    </div>

    
  </div>
  