<div class="container">
  <app-navbar [registered]="isRegistered" [username]="username" [user]="userDebug" (toggleAdvancedSearch)="toggleAdvancedSearch()">
  </app-navbar>
  
    <app-add-spo></app-add-spo>

    <app-show-books [books1]="books"></app-show-books>

    <button class="seeAll" (click)="redirectBooks('', '', '', '', 0, 9999, 0, 9999)">Ver todo</button>
    <app-footer [registered]="isRegistered"></app-footer>

    <div class="overlay" *ngIf="showAdvancedSearch" (click)="toggleAdvancedSearch()"></div>
    <app-advanced-search *ngIf="showAdvancedSearch" class="modal"></app-advanced-search>
  </div>
  