<footer>
    <div class="footer-top">
        <div class="footer-section">
            <h4>Ubicacion y contacto</h4>
        </div>
        <div class="footer-section">
            <h4>Ayuda</h4>
        </div>
        <div class="footer-section">
            <h4>Terminos y condiciones</h4>
        </div>
        <div class="footer-section">
            <h4>Información</h4>
        </div>
        <div class="footer-section contact-info">
            <p>Direccion: Ingresar direccion del dueño</p>
            <p>Telefono: 1231349341 </p>
            <p>Email: ingresatuemail&#64;gmail.com</p>
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-bottom">
        <div class="social-icons">
            <img src="../../fb-icon.png" alt="Facebook">
            <img src="../../ig-icon.png" alt="Instagram">
            <img src="../../lk-icon.png" alt="LinkedIn">
            <img src="../../yt-icon.png" alt="YouTube">
            <img src="../../ws-icon.png" alt="Chat">
        </div>
        <p>© 2024 All Rights Reserved</p>
    </div>
</footer>