<div class="personal-info-card">
    <h2>Información personal</h2>
    <div class="info-item">
      <strong>Nombre:</strong> {{ user.username }}
    </div>
    <div class="info-item">
      <strong>Correo:</strong> {{ user.email }}
    </div>
    <div class="info-item">
      <strong>Teléfono:</strong> {{ user.number }}
    </div>
    <div class="info-item">
      <strong>Dirección:</strong> {{ user.address }}
    </div>
    <button (click)="onEditClick()" class="edit-button">
      <i class="fas fa-edit"></i> Editar
    </button>
  </div>
  