<div class="book-detail">
    <button class="back-button" (click)="goBack()">Atrás</button>
    <div class="book-image-container">
      <img [src]="imageUrl" alt="{{ title }} cover" class="book-image">
    </div>
    <div class="book-info">
      <h1 class="book-title">{{ title }}</h1>
      <h2 class="book-author">{{ author }}</h2>
      <p class="book-summary"><strong>Resumen:</strong> {{ summary }}</p>
      <p class="book-year"><strong>Año:</strong> {{ year }}</p>
      <div class="book-categories">
        <strong>Categoría: {{ category }}</strong>
      </div>
      <div class="book-price-container">
        <span class="book-price">{{ price | currency:'USD':'symbol' }}</span>
        <button class="add-to-cart" (click)="addToCart()">Añadir al carrito</button>
      </div>
    </div>

  </div>
  