<div class="book-detail">
  <button class="back-button" (click)="closeDetails()">Atrás</button>
  <div class="book-image-container" *ngIf="book">
    <img [src]="book.portrait" alt="{{ book.name }} cover" class="book-image">
  </div>
  <div class="book-info" *ngIf="book">
    <h1 class="book-title">{{ book.name }}</h1>
    <h2 class="book-author">{{ book.author }}</h2>
    <p class="book-summary"><strong>Resumen:</strong> {{ book.summary }}</p>
    <p class="book-year"><strong>Año:</strong> {{ book.year }}</p>
    <p class="book-stock"><strong>Stock disponible: </strong>{{ book.stock }}</p>

    <div class="book-categories">
      <strong>Categoría: {{ book.cathegory }}</strong>
    </div>
    <div class="book-price-container">
      <span class="book-price">{{ book.price | currency:'USD':'symbol' }}</span>
      <button class="add-to-cart" (click)="addToCart()">Añadir al carrito</button>
    </div>
  </div>
</div>
