.message-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-portrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.message-info {
  flex: 1;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.delete-button, .details-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.delete-button i, .details-button i {
  font-size: 16px;
  color: #ff6347;
}

.delete-button:hover i, .details-button:hover i {
  color: #d9482e;
}

.details-button i {
  color: #4caf50;
}

.details-button:hover i {
  color: #388e3c;
}
