
<app-navbar></app-navbar>
<app-add-spo></app-add-spo>
<app-book-boxv1 
  imageUrl="/../portraitBook.jpg" 
  title="Metafizik" 
  author="Aristoteles" 
  [price]="36.00">
</app-book-boxv1>

<app-book-boxv2
  imageUrl="/../portraitBook.jpg" 
  title="Ikigai" 
  author="Hector Garcia" 
  [price]="36.00"
  [year]="2024"
  category="Self-help">
</app-book-boxv2>

<app-advanced-search></app-advanced-search>
<app-footer></app-footer>


<app-book-details
  imageUrl="/../portraitBook.jpg" 
  title="Dune" 
  author="Frank Herbert" 
  summary="Dune is set in the distant future amidst a feudal interstellar society in which various noble houses control planetary fiefs..."
  [year]="1997"
  [price]="87.75"
  [categories]="['Terror', 'Nose', 'Waos']">
  
</app-book-details>

<app-user-profile
  imageUrl="/../profileImage.jpg"
  name="'Gato sigma 666'"
></app-user-profile>
