@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  max-width: 90%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-image img {
  width: 100%;
  height: auto;
  transition: opacity 1s ease-in-out;
  display: block;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.carousel-indicators span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}

.carousel-image img.fade-enter-active {
  opacity: 0;
}

.carousel-image img.fade-enter {
  opacity: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.logo {
  font-family: "Playwrite PE", cursive;
  font-weight: 10;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 900px) {
  .carousel-container {
    flex-direction: column;
  }

  .logo-container {
    margin-left: 0;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .carousel {
    max-width: 100%;
  }

  .logo {
    font-size: 2rem;
  }
}
