<nav>
    <div class="logo">
        <img src="../../logo.png" alt="Logo">  
        <h1>EntrePaginas</h1>
    </div>
    <div class="search">
        <input type="text" placeholder="Buscar un libro o autor" [(ngModel)]="searchText">
        <img (click)="redirectBooks()" src="../../searchIcon.png" alt="Buscar">
                                                                                               
    </div>
    <div class="options">
        <button (click)="openAdvanceSearch()"><img src="../../advanceIcon.png"></button>
        <button (click)="redirectShoppingCar()"><img src="../../cartIcon.png"></button>
    </div>

    <!--Editar si el usuario esta logeado o no, si esta-->
    <!-- Si el usuario no está registrado -->
    <div *ngIf="!isRegistered()" class="unregistered">
        <button class="reg" (click)="redirectRegister()">Registrarse</button>
        <button class="ing" (click)="redirectLogin()">Ingresar</button>
    </div>

    <!-- Si el usuario está registrado -->
    <div *ngIf="isRegistered()" class="registered">
        <p class="name">{{ username }}</p>
        <button (click)="redirectUserMain()"><img src="../../userIcon.png" alt="User"></button>
    </div>
</nav>


  