.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.contain app-book-boxv2 {
    width: 450px;
}
.book-filters{
    margin-top: 2rem;
    margin-bottom: 5rem;
}