

.category-na {
  background-color: #cccccc;
  color: #ffffff;
}

.category-suspenso {
  background-color: #2600fc;
  color: #ffffff;
}

.category-romance {
  background-color: #ff0080;
  color: #ffffff;
}

.category-ciencia-ficcion {
  background-color: #007a4d;
  color: #ffffff;
}

.category-aventura {
  background-color: #ae7400;
  color: #ffffff;
}

.category-fantasia {
  background-color: #8000ff;
  color: #ffffff;
}

.category-accion {
  background-color: #849000;
  color: #ffffff;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.book-card {
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #f5f5ff 0%, #d6e4ff 100%);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  max-width: 500px;
  height: 300px;
  margin: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.book-image-container {
  position: relative;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(230,230,255,1) 100%);
  border-radius: 12px;
  overflow: hidden;
  flex: 1;
  margin-right: 20px;
}

.book-stock {
  width: 120px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-image {
  width: 100%;
  height: auto;
  transition: box-shadow 0.3s;
}

.book-card:hover{
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.book-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-text {
  margin-bottom: 20px;
}

.book-title {
  font-size: 24px;
  color: #444;
  margin: 0;
  transition: color 0.3s;
}

.book-card:hover .book-title {
  color: #8855ff;
}

.book-author {
  font-size: 16px;
  color: #777;
  margin: 8px 0;
}

.book-year,
.book-category {
  font-size: 25px;
  color: #000000;
  margin: 6px 0;
}

.book-price {
  font-size: 40px;
  color: #6633ff;
  font-weight: bold;
  margin: 1rem;
}

.buy-now-button {
  background: #6633ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  align-self: flex-start;
}

.buy-now-button:hover {
  background: #8855ff;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .book-card {
    flex-direction: column;
    max-width: 100%;
    height: auto;

    margin: 15px;
    padding: 20px;
  }
  
  .book-image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .book-title {
    font-size: 20px;
  }
  
  .book-author,
  .book-year,
  .book-category {
    font-size: 12px;
  }
  
  .book-price {
    font-size: 18px;
  }
  
  .buy-now-button {
    font-size: 14px;
    padding: 8px 16px;
    align-self: center;
  }
}

.book-category {
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 1.5rem;
  color: beige;
}