<div class="book-card">
  <div class="book-image-container">
    <img [src]="book.portrait" alt="{{ book.name }} cover" class="book-image">
  </div>

  <div class="book-info">
    <!--{{ book.stock }}-->
    <div class="book-stock">Stock: {{ book.stock }} u.</div>

    <h3 class="book-title">{{ book.name }}</h3>
    <p class="book-author">{{ book.author }}</p>
    <p class="book-year">{{ book.year }}</p>
    <p class="book-category" [ngClass]="getCategoryClass(book.cathegory)">{{ book.cathegory }}</p>
    <p class="book-price">{{ book.price | currency:'S/.':'symbol' }}</p>
    <button class="buy-now-button" (click)="openDetails()">Detalles</button>
  </div>
</div>
