<div class="compras-container">
    <h2>Compras realizadas</h2>
    <button class="delete-button" (click)="eliminarCompras()">
        <i class="fas fa-trash-alt"></i> Eliminar historial
    </button>
    <div class="container">
        <div class="compra-item" *ngFor="let compra of compras">
            <div class="compra-info">
                <p class="compra-title">{{ compra.name }}</p>
                <p class="compra-author">{{ compra.author }}</p>
                <p class="compra-date">{{ compra.date }}</p>
            </div>
            </div>
    </div>

</div>
  