
body {
    font-family: 'Josefin Sans', sans-serif;
}

.compras-container {
    background-color: #ffeb99;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    
}

h2 {
    font-size: 20px;
    color: #333;
}

.delete-button {
    background: none;
    border: none;
    color: #333;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.delete-button i {
    margin-right: 5px;
}

.compra-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #87ceeb;
    padding:5px;
    border-radius: 12px;
}

.compra-item:not(:last-child) {
    margin-bottom: 5px;
}

.compra-image {
    width: 50px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.compra-info {
    display: flex;
    gap: 10rem;
}

.compra-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.compra-author, .compra-date {
    font-size: 20px;
    color: #666;
    margin: 5px 0;
}

.compra-author {
    margin-right: 10px;
}

.compra-date {
    margin-left: auto;
}
@media (max-width: 768px) {
    .compras-container {
        width: 90%;
      }
      
    .compra-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

}