<button class="back" (click)="atras()">Atras</button>
<div class="user">
    <app-user-profile 
    [imageUrl]="user.portrait"
    [name]="user.username"

    ></app-user-profile>



    <div class="info">
        <app-favorite-user [compras]="comprasAux"></app-favorite-user>

        <div class= "sameline">
            <app-personal-info (toggleEdit)="toggleEdit()"
            [user]="user"
            ></app-personal-info>

            <app-compras-grafico [compras]="comprasRealizadas"></app-compras-grafico>
        </div>
        
        <app-compras-historial [compras]="compras"></app-compras-historial>

    </div>

</div>

<div *ngIf="showEdit" class="modal-background">
    <div class="modal-content">
        <app-edit-profile [user]="user"></app-edit-profile>
    </div>
</div>

