<div class="login-container">
    <div class="login-form">
      <img src="../../logo.png" alt="Logo" class="logo" />
      <h2>Bienvenido otra vez, estimado lector</h2>
      <h3>Ingrese con su cuenta</h3>
      <form>
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="john@mail.com" />
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="********" />
        <div class="remember-me">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Recordarme en esta computadora</label>
        </div>
        <a href="#" class="forgot-password">Me olvide todo :(</a>
        <button type="submit" class="login-btn">Ingresar</button>
        <button type="button" class="register-btn">Registrarse</button>
      </form>
    </div>
  </div>
  