<div class="email-container">
  <div class="clients-menu">
    <h3>Clientes Registrados</h3>
    <div class="select-all">
      <input type="checkbox" id="selectAll" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
      <label for="selectAll">Seleccionar Todos</label>
    </div>
    <div class="client-list">
      <div *ngFor="let client of clients">
        <input type="checkbox" [(ngModel)]="client.selected" [id]="'client-' + client.username">
        <label [for]="'client-' + client.username">{{ client.username }}</label>
        <label>{{ client.email }}</label>
      </div>
    </div>
  </div>

  <div class="email-form">
    <h3>Enviar Correo</h3>
    <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
      <div class="input-group">
        <label for="subject">Asunto</label>
        <input type="text" id="subject" [(ngModel)]="subject" name="subject" required>
      </div>
      <div class="input-group">
        <label for="message">Mensaje</label>
        <textarea id="message" [(ngModel)]="message" name="message" rows="5" required></textarea>
      </div>
      <button type="submit" class="send-button">Enviar</button>
    </form>
  </div>
</div>
