@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.perfil-container {
    font-family: 'Josefin Sans', sans-serif;
    min-width: 700px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100vh;
}
.header{
    display: flex;
    gap: 50%;
}
.editImage img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-cancel {
    background-color: #f0ad4e;
    color: white;
}

.btn-save {
    background-color: #5cb85c;
    color: white;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

@media (max-width: 600px) {
    .form-actions {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn:last-child {
        margin-bottom: 0;
    }
}
